
.container-header{
    display: flex;
    flex-direction: row;
    margin: 10px 200px;
}
.home-header{
    text-decoration: none;
    color: black;
}
.menu-header{
    display: inline-flex;
    justify-content: end;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

.menu-header a{
    padding: 0 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
