*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat+Alternates:wght@500&display=swap');

body {
  background-color: cadetblue;
  text-align      : center;
  font-family     : 'Lora', serif;
  font-family     : 'Montserrat Alternates', sans-serif;
  font-size       : 120%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}