*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat+Alternates:wght@500&display=swap');

body {
  background-color: cadetblue;
  text-align      : center;
  font-family     : 'Lora', serif;
  font-family     : 'Montserrat Alternates', sans-serif;
  font-size       : 120%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.info-home{
  text-align: center;
  margin: 10% auto;
}
.info-home-title{
  text-align: center;
  margin: 5% auto;
}
@media(max-width: 768px){
  .info-home{
    margin: 30% auto;
  }
}